@import "../tokens/ColorTokens.scss";

$button-font-size: 1.5em;
$button-padding: 0.25em 0.5em;
$button-border-width: 0.25em;
$button-hover-padding: 0.25em 0.4em 0.15em 0.5em;
$button-hover-border-width: 0.35em;
$button-border: $button-border-width solid $dark;

.airy-button {
  font-size: $button-font-size;
  padding: 0;
  width: auto;
  border-left-width: 0;
  border-right-width: 0;
  border-top: $button-border;
  border-bottom: $button-border;
  position: relative;
  .button-inner {
    padding: $button-padding;
    border-style: solid;
    border-width: 0 $button-border-width $button-border-width 0;
    transition: all 100ms cubic-bezier(0.02, 0.91, 0.45, 0.96);
    &:active {
      border-width: $button-border-width 0 0 $button-border-width;
    }
    &:hover {
      padding: $button-hover-padding;
      border-width: 0 $button-hover-border-width $button-hover-border-width 0;
      &:active {
        padding: $button-padding;
        border-width: $button-border-width 0 0 $button-border-width;
      }
    }
    //styles
    &.primary {
      color: $white;
      background: $primary;
      border-color: $primary-dark;
    }
    &.secondary {
      color: $dark;
      background: $white;
      border-color: $grey;
    }
    &.success {
      color: $white;
      background: $success;
      border-color: $success-dark;
    }
    &.warning {
      color: $dark;
      background: $warning;
      border-color: $warning-dark;
    }
    &.error {
      color: $dark;
      background: $error;
      border-color: $error-dark;
    }
  }
  &:before {
    content: "";
    top: 0;
    left: -$button-border-width;
    height: 100%;
    position: absolute;
    width: $button-border-width;
    background: $dark;
  }
  &:after {
    content: "";
    top: 0;
    right: -$button-border-width;
    height: 100%;
    position: absolute;
    width: $button-border-width;
    background: $dark;
  }
}
